.input-form {
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 3px;
}
.input-form-div {
    margin: 5px;
    width: 100%;
}
.api-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.api-btn button {
    width: 100px;
}
.api-map {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 100%;
}
.api-map p {
    font-size: 9px;
}

@media (max-width: 750px) {
    .input-form-div, .api-map {
        margin-top: 15px;
    }
}

@media (min-width: 750px) {
    .api-input-form {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
}