.bg-white-color {
  background-color: #fff;
  padding: 15px;
  width: 100%;
}

.status-input select {
  border-radius: 5px;
  padding: 2px 5px;
  outline: none;
  border: 1px solid grey;
  margin: 3px;
}

.header-color {
  background-color: #ff3c9d;
  height: 40px;
}

.input-table-container {
  width: 100%;
  overflow-x: auto;
}

.id {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
}

.id-row {
  width: fit-content;
  padding: 0px 3px;
  border-right: 2px solid grey;
  font-family: system-ui
}

table {
  border-collapse: collapse;
  text-align: center;
}

.update-save-button {
  background-color: #ff3c9d;
  color: #fff;
  border-radius: 5px;
  margin-top: 15px;
}

.update-save-button:hover {
  background-color: #ce0b6c;
  color: #fff;
  border-radius: 5px;
}

.data_type_update {
  margin-bottom: 40px;
  margin-top: 5px;
  margin-left: 5%;
}

.data_type_update button {
  background-color: #ff3c9d;
  border-radius: 8px;
  padding: 4px;
}
.even-row {
  background-color: white;
}
.odd-row {
  background-color: #dedede;
}