.flex-ferr-alert {
    display: flex;
    justify-content: space-between;
}
.notification {
    padding: 10px;
    max-width: 350px;
    height: fit-content;
    position: relative;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin-top: 100px;
}
.notification p {
    position: relative;
}
.notificationDiv {
    display:  flex;
    justify-content: center;
    background-color: rgba(16, 16, 16, 0.4);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    min-width: 100%;
    height: 100vh;
    z-index: 1;
}
.confirm-element input {
    width:  100%;
    border: 1px solid grey;
    outline: none;
    padding: 5px 8px;
    border-radius: 5px;
}
.confirm-element label {
    display: flex;
    justify-content: start;
    margin-bottom: -15px;
    margin-top: 15px;
}

.confirm-btn {
    display:  flex;
    justify-content: space-around;
    margin-top: 30px;
}
.confirm-btn button {
    border-radius: 5px;
}

@media (min-width: 760px) {
    .confirm {
        width: 500px;
    }
}