.validate-btn {
    width: fit-content !important;
    background-color: #6a00f4 !important;
    color: #fff !important;
    width: fit-content !important;
    padding: 5px 6px !important;
    border-radius: 5px !important;
    margin-top: -10px !important;
}
.validateDiv {
    display: flex !important;
    align-items: center !important;
}