.airtimeForm {
  margin-top: 41px;
}
.transactionForm {
  /* box-shadow: 0px 1px 7px rgb(207, 199, 199); */
  border: 0.1px solid rgb(109, 101, 101); border-radius: 5px;
  padding: 15px 10px 20px 10px;
  margin: -10px 10px 10px 10px; 

}
.transactionForm select {width: 100%; padding: 5px; border-radius: 4px; margin-bottom: 10px; background-color: #fff;}
.transactionForm p {margin-bottom: 5px;}
.transactionForm input {width: 100%; padding: 5px; border-radius: 4px; margin-bottom: 10px; border: none;}
.input-group {margin-bottom: 10px;}
.flex-bypass {display: flex;}
#bypass {margin-right: 10px;}
.transactionForm button {margin-top: 15px; background-color: blue; width: 100%; color: #fff}