* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.navbar {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background: linear-gradient(135deg, #ff3c9d, #6a00f4);
  color: #fff;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 0.3rem;
}

.nav-menu span {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-left: 15px;
}
.handburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 0.3rem;
}
.handburger span {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  margin-right: 15px;
}
.aside {
  background-color: #000;
  color: #ccc;
  min-height: 100%;
  padding-top: 50px;
  border-right: 3px solid grey;
  position: fixed;
  top: 0;
  transition: width 0.3s ease;
  width: 0;
}
.aside.visible {
  display: block;
  width: 60vw;
}
.aside.hidden {
  display: none;
  width: 0%;
}
.main {
  padding-bottom: 0px;
  background-color: #f4f7fa;
}
.main.with-margin {
  overflow: hidden;
  transition: margin-right 0.3s ease;
  margin-left: 60vw;
  white-space: nowrap;
  width: 40vw;
}
.main.with-no-margin {
  width: 100vw;
}
.hero {
  padding: 90px 10px 30px 10px;
  color: #fff;
  width: 100%;
  background: linear-gradient(to bottom right, #ff3c9d, #6a00f4);
  margin-top: 0%;
}
@media (min-width: 760px) {
  .grid_hero {
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 10px;
  }
  .aside.visible {
    width: 20vw;
  }
  .main.with-margin {
    width: 80vw;
    margin-left: 20vw;
    white-space: nowrap;
    margin-top: 0%
  }
  .grid-balance-section-m {
    margin-left: 15%;
    margin-right: 15%;
  }
  .grid-balance-section {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}
.bg-general {
  background: linear-gradient(135deg, #ff3c9d, #6a00f4);
}
.bg_light {
  background-color: #f4f7fa;
}
.greating-section {
  background-color: #fff;
  padding: 8px 8px 30px 8px;
  margin: 0px 2% 0px 2%;
  width: 96%;
  border-radius: 5px;
  transform: translateY(-20px); 
}
.goolePlay {
  text-align: center;
}
.goolePlay img {
  width: 150px;
}
.ash-background {
  background: linear-gradient(to right, #82b1ff, #4a148c);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.ash-background button {
  border-radius: 8px;
  width: 92px;
  font-size: small;
}
.tab-content img {
  width: 40px;
}
.generateNo {
  background: linear-gradient(to right, #2724af, #2327e9);
  color: white;
  padding: 4px;
  cursor: pointer;
}
.moniepoint {
  padding: 15px;
  background: linear-gradient(to bottom right, #a700ff 70%, #4a148c 30%);
  color: #fff;
  border-radius: 5px;
}
.decoration {
  text-decoration: none;
  font-size: small;
}
.bankN {
  margin-top: -20px;
  font-weight: bold;
}
.automatedF {
  font-size: small;
}
.wema {
  padding: 15px;
  background: linear-gradient(to bottom right, #d60be9 70%, #8b0597 30%);
  color: #fff;
  border-radius: 5px;
}
.marqueeC {
  white-space: nowrap;
  overflow: hidden;
}
.marquee {
  animation: marquee 10s linear infinite;
  color: red;
  padding: 15px 10px 10px 10px;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-30%);
  }
}
.purple {
  background-color: #6a00f4;
  width: 40px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  border-radius: 5px;
}
.purpleShadow {
  box-shadow: 0px 1px 6px 0px rgb(243, 237, 237);
  padding-top: 10px;
  padding-left: 10px;
}
.grid_histories {
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
}
.grid-balance-section {
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
}
.balance-section-color {
  margin-top: 20px;
  color: white;
  border-radius: 8px;
}
.balance-section-color i {
  border-radius: 8px;
}
.balance-section {
  background-color: #fff;
  padding-top: 10px; padding-left: 10px; padding-bottom: -50px;
  margin: 15px 0px;
  border-radius: 10px;
  display: flex;
}
.amount {
  margin-top: -10px;
}
.flexEntire {display: flex; width: 100vw;
  position: relative;
  overflow: hidden;}
